/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

 /*Estilo básico*/

 html {
  font-family: Arial, Helvetica, sans-serif;
  background: lightgray;
 }

 p {
     text-align: justify;
 }

 img {
  width: 150px;
  display:block;
  margin:auto;
 }
 
 button {
  border-radius: 12px;
  background-color: #272e72;
  color: #f5f5f5;
  padding: 10px 10px;
  font-style: italic;
  text-transform: uppercase;
  font-size: 10px;
 }
 
 /*Encabezado*/
 h1, h2, h3 {
  color: darkblue;
  margin-bottom: 40px;
  text-align: center;
 }

 header  {
  background: #0b1531;
 }

 header h1 {
  color:#ffebcd;
  font-size: 4em;
  max-width: 450px;
  margin: 0;
 }
  header img {
  width: 400px;
  float:right;
  margin-right: 32px;
  margin-left: 32px;
}

header p:only-of-type {
  color:#86b1ff;
  margin: 0px 14px;
}

/*Barra de navegacion superior*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
}
li {
  float:left;
  margin: 5px 14px;
}

li a{  
  text-decoration: none;
  display: block;
  padding: 12px;
  margin:0 2px;
  color: #ffebcd;
}

li a:hover {
  color:lightseagreen;  
}

/*Sección de la Introducción*/

.introduction {
    margin: 35px 20px;
    font-size:larger;
}

/*Seccion de los articulos*/

article:first-child{
    font-style: oblique;
    margin: 0 14px;
    font-size: 17px;
    padding: 5px;
    border-bottom: 3px solid black;
}
.ensaladas {
    background-color:#49ffa4;
}

.ensaladas button:hover {
    background:tomato;
}

.pescados {
    background:royalblue;
    overflow: hidden;
    margin:0 14px;
    border-bottom: 3px solid black;
    padding: 5px;
}

